.MMM-MVGWiesty {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: left;
    background-color: transparent;
    font-size: 1.2em;
    color: white;
    padding: 10px;
    box-sizing: border-box;
  }
  